.appli{
  overflow: hidden;
  .topPage{
    background-color: #F2EFEF;
    height: 97vh;
    width: 100%;
      .entete{
        height: 2rem;
        width: 100%;
        display: flex;

        align-items: center;
        justify-content: space-between;
        border-bottom: 4px solid #A8A8A8;

        .logo{
          font-size: 1.2rem;
          font-family: 'inter','Helvetica Neue','Arial';
          font-style: italic;
          font-weight:500;
          color: #707070;
          margin-left: 1rem;
        }
        .menu{
          ul{
          
            display: flex;
            list-style: none;
            gap: 1.3rem;
            margin-right: 1rem;
            li{
              a{
                text-decoration: none;
                color: #707070;
                font-size: 0.7rem;
                font-family: 'Helvetica Neue','inter','Arial';
              }
            }
          }
        }
      }
      .aPropos{
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #8E8E8E;

          // a propos de moi
          .flextoppage{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-around;
            

            .infoAProposDeMoi{
              h1{
                font-family: 'Helvetica Neue','inter','Arial';
                padding-bottom: 0.5rem;
              }
              h3{
                font-family: 'Helvetica Neue','inter','Arial';
                font-weight: 400;
                font-size: 1.2rem;
                padding-bottom: 1rem;
              }
              .descriptionMoi{
                background-color: #ffffff;
                padding: 1rem;
                border-radius: 10px;
                font-family: 'inter','Helvetica Neue','Arial';
                
                h5{
                  font-weight: 500;
                  font-size: 1rem;
                }

                p{
                  font-size: 0.8rem;
                }
              }
            }

            .enteteimg{
              font-family: 'Helvetica Neue','inter','Arial';
              font-size: 4rem;
            
            }
          }
      }
  }

  .competences{
    height: 100vh;
    width: 100%;
    font-family: 'inter','Helvetica Neue','Arial';
    margin-bottom: 5rem;
    h1{
      font-size: 5rem;
      padding-left: 4rem;
      font-style: italic;
    }
    h2{
      font-size: 1.5rem;
      font-weight: 300;
      padding-bottom: 2rem;
      padding-left: 4rem;
    }

    .cartesComp{
      display: flex;
      justify-content: center;
      gap: 2rem;
     
      .cartes{
        width: 28%;
        height: 26rem;
        background-color: #ffffff;
        border-radius: 30px;

        padding: 2rem;
        text-align: center;
      }
    }
  }

  .projet{
    height: 100vh;
    width: 100%;
    font-family: 'inter','Helvetica Neue','Arial';
    .titre{
      display: flex;
      justify-content: flex-end;
      padding-right: 4rem;
      .gauche{
        h1{
          font-size: 5rem;
          font-style: italic;
        }
        h2{
          font-size: 1.5rem;
          font-weight: 300;
          padding-bottom: 2rem;
          text-align:end ;
        }
      }
    }

    .SecCarteProj{
      display: flex;
      flex-direction: column;
      align-items: center;
      .carteProj{
        width: 5rem;
        height: 10rem;
        background-color: #A8A8A8;
      }
    }
  }

  
    footer{
      position: relative;
      font-family: 'inter','Helvetica Neue','Arial';
      background-color: black;
      height: 49vh;

      .getInTouch{
        padding: 2rem;
        h2{
          color: #A8A8A8;
        }
        ul{
          li{
            a{
              color: #A8A8A8;
              text-decoration: none;
            }
          }
        }
      }

      .icons{

      }

      h1{
        color: #A8A8A8;
        font-size: 13rem;
        font-style: italic;
        position:absolute;
        right: 2rem;
        bottom: 0rem;
        
      }

      .credit{
        width: 100%;
        text-align: center;
        color: #ffffff;
        position: absolute;
        bottom: 0rem;
        border-top:5px solid #FFF ;
        font-weight: 300;

      }
    }
  
}