.Unprojet{
    width: 85%;
    height: 20rem;
    background-color: #A8A8A8;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .secDesc{
      background-color: #FFF;
      height: 8rem;
      
      margin: 0.3rem;
    }
    
  }